@model makeup1.ViewModels.CategorieViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Myndaflokkar</h2>

<div class="categories">
    @Html.ActionLink("Kvöldförðun", "EveningMakeup", new { @style = "@style=color:#000aaa;" })</br>
    @Html.ActionLink("Dagsförðun", "DayMakeup", new { })</br>
    @Html.ActionLink("Snyrtivörur", "MakeupProduct", new { })</br>
    @Html.ActionLink("Förðun eftir mig", "MakeupByMe", new { })</br>
</div>
