@model makeup1.ViewModels.NewsFeedViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Fréttaveita</h2>

<div class="row">
    @foreach (var p in Model.photo)
    {
        <div class="col-md-4">
            <img src="@p" />
            <p>@p.Caption</p>
            <p>@p.Categories</p>
            <div style="display:block; background: url(@p); background-size: cover; background-repeat no-repeat; background-position 50% 50%; max-width 100%; height 200px;" class="photo-wrapper">

            </div>
        </div>
    }
</div>


